body {
  margin: 0;
  padding: 0;
}

nav ul {
  &:extend(.inline);
  background: blue;
}
.inline {
  color: red;
}


:global {
  .a {
    color: red;
    div {
      border: 1px solid red;
    }
  }
}